CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
REDIRECT_URI="https://indiasocial.pythonanywhere.com/reddit_callback"
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPABASE_URL="https://xxxxxxxxxxxxxxxxxxxx.supabase.co"
SUPABASE_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
