<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Rajtilak Bhattacharjee" />
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='santa.png') }}" />
        <script type="module"
            src="https://md-block.verou.me/md-block.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
            rel="stylesheet" />
        <title>Secret Santa - r/IndiaSocial</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>

    <body>
        <div class="card-container">
            <div class="logo-container">
                <img
                    src="{{ url_for('static', filename='santa.png') }}"
                    alt="Logo"
                    class="logo" />
            </div>

            <h1 class="smaller-heading gradient-text">Secret Santa</h1>
            <h2 class="subtitle">r/IndiaSocial</h2>

            <!-- Check if the user is logged in and display appropriate buttons -->
            {% if not username %}
            <a href="{{ authorize_url }}">
                <button class="authorize-button" type="button">
                    Authorize with Reddit
                </button>
            </a>
            {% else %} 
                {% if gift_sent %}
                <h1 class="black-text">You have already sent your gift! Login on 25th of December, 2024 to view the gift your Secret Santa sent you.</h1>
                {% else %}
                <a href="{{ url_for('send_gift') }}">
                    <button class="authorize-button" type="button">Send Your eGift</button>
                </a>
                {% endif %}
            {% endif %}
        </div>

        <!-- Footer with heart icon for warmth -->
        <div class="footer">
            Made with <span style="color: red;">❤️</span> by Rajtilak Bhattacharjee
        </div>
    </body>
</html>
