<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Rajtilak Bhattacharjee">
        <link rel="icon" type="image/x-icon"
            href="{{ url_for('static', filename='santa.png') }}">
        <script type="module"
            src="https://md-block.verou.me/md-block.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
            rel="stylesheet">

        <title>Secret Santa - r/IndiaSocial</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="card-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='santa.png') }}"
                    alt="Logo" class="logo">
            </div>

            <h1 class="smaller-heading gradient-text">Secret Santa</h1>
            <h2 class="subtitle">r/IndiaSocial</h2>

            {% if message %}
            <div
                class="black-text {{ 'success' if 'successfully' in message else 'error' }}">
                {{ message }}
            </div>
            {% else %}
            <form method="POST">
                <label for="secret_gift" class="black-text">Please type your secret gift for your Secret Santa in the box given below:</label><br>
                <textarea name="secret_gift" id="secret-gift" rows="10" cols="50" style="border: 1px solid #a6a6a6;" required></textarea><br><br>
                <button type="submit" class="authorize-button">Send Gift</button>
            </form>
            {% endif %}

        </div>

        <div class="footer">
            Made with <span style="color: red;">❤️</span> by Rajtilak Bhattacharjee
        </div>
    </body>
</html>
